@import '../../SCSS/main.scss';

.carousel {
  top: 70px;

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 100;
  }

  a:hover ~ .carousel-inner .carousel-item .play-button,
  ol:hover ~ .carousel-inner .carousel-item .play-button,{
    opacity: 1;
  }
}