html{
  font-size: 162.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

.App {
  text-align: center;
}


