$primary-color: #fff;
$text-hover-color:#fb4226;

//variable margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 25px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;

$paragraph-font-size: 1.4rem;
$section-title-font-size: 2rem;